:host {
  display: block;
  height: var(--wm-header-height);
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: var(--wm-header-height);
  width: 100%;
  background-color: var(--wm-color-white-600);
  box-shadow: var(--wm-shadow-header);
  z-index: 100;

  .nav {
    display: flex;
    align-items: center;
    height: 100%;

    .home-link {
      display: block;
      margin: 0 1em;
      font: var(--wm-font-h3);
      text-decoration: none;
    }

    wm-nav-item {
      height: 100%;
    }
  }

  .user-actions {
    display: flex;
  }
}

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 100;

  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--wm-header-height);
    padding: 0 var(--wm-spacer-4);
    box-shadow: var(--wm-shadow-header);
    background-color: var(--wm-color-white-600);

    .home-link {
      font: var(--wm-font-h2);
      font-weight: 700;
      color: transparent;
      background-image: var(--wm-gradient-primary-600);
      background-clip: text;
      text-decoration: none;
    }

    .actions {
      display: flex;

      button {
        display: flex;
        padding: var(--wm-spacer-2);
        background-color: transparent;
        border: none;

        span {
          font-size: 2rem;
          color: var(--wm-color-neutral-600);
        }

        &.menu-button span {
          animation: rotate .2s linear;

          &.open {
            animation-direction: reverse;
          }
        }
      }
    }
  }

  .nav-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: var(--wm-spacer-3);
    background-color: var(--wm-color-white-600);
    overflow: hidden;
    box-shadow: 0 1em 1.25em 0 #0000003D;

    .user-actions {
      display: flex;
      flex-direction: column;
      margin-top: var(--wm-spacer-6);
      border: solid var(--wm-color-neutral-200);
      border-width: 1px 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    .nav {
      .home-link {
        margin: 0 var(--wm-spacer-1) 0 var(--wm-spacer-3);
        font: var(--wm-font-h4);
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
