<ng-container *ngIf="isLVP; else mobileHeader">
  <header class="header">
    <nav class="nav">
      <a routerLink="/" class="home-link gradient-text">WM 2026</a>

      <ng-container *ngIf="user()">
        <wm-nav-item displayName="Dashboard" icon="home" route="/" exact/>
        <wm-nav-item displayName="Mein Tippschein" icon="ballot" route="/bets" (clickEvent)="deselectGroup()"/>
      </ng-container>

      <wm-nav-item *ngIf="!user()" displayName="Home" icon="home" route="/" exact/>

      <wm-nav-item displayName="Rangliste" icon="bookmark_star" route="/leaderboard"/>

      <ng-container *ngIf="isAdmin()">
        <wm-nav-item displayName="Resultate" icon="scoreboard" route="/admin/results"/>
        <wm-nav-item displayName="Teilnehmer" icon="person" route="/admin/users"/>
      </ng-container>
    </nav>
    <div class="user-actions">
      <wm-user-menu *ngIf="user() as user" [user]="user"/>

      <ng-container *ngIf="!user()">
        <wm-user-button route="/login" secondary content="Anmelden"/>
        <wm-user-button route="/signup" content="Registrieren"/>
      </ng-container>
    </div>
  </header>
</ng-container>

<ng-template #mobileHeader>
  <header class="mobile-header">
    <div class="nav-top">
      <a routerLink="/" class="home-link">WM 2026</a>
      <div class="actions">
        <button *ngIf="user()" class="notifications" [class.-nudge]="hasNotifications">
          <span class="material-symbols-rounded">notifications</span>
        </button>
        <button class="menu-button" (click)="toggleMenu()">
          <span *ngIf="isExpanded" class="material-symbols-rounded">close</span>
          <span *ngIf="!isExpanded" class="material-symbols-rounded open">dehaze</span>
        </button>
      </div>
    </div>
    <nav *ngIf="isExpanded" class="nav-bottom" (pointerup)="closeMenuAfterTimeout()">
      <ng-container *ngIf="user()">
        <wm-nav-item displayName="Dashboard" icon="home" route="/" exact/>
        <wm-nav-item displayName="Mein Tippschein" icon="ballot" route="/bets" (clickEvent)="deselectGroup()"/>
        <wm-nav-item displayName="Einstellungen" icon="settings" route="/settings" (clickEvent)="deselectGroup()"/>
      </ng-container>

      <wm-nav-item *ngIf="!user()" displayName="Home" icon="home" route="/" exact/>

      <wm-nav-item displayName="Rangliste" icon="bookmark_star" route="/leaderboard"/>

      <ng-container *ngIf="isAdmin()">
        <wm-nav-item displayName="Resultate" icon="scoreboard" route="/admin/results"/>
        <wm-nav-item displayName="Teilnehmer" icon="person" route="/admin/users"/>
      </ng-container>

      <div class="user-actions">
        <wm-nav-item *ngIf="user()" displayName="Abmelden" icon="ballot" route="/settings"
                     (clickEvent)="deselectGroup()"/>

        <ng-container *ngIf="!user()">
          <wm-nav-item displayName="Anmelden" icon="login" route="/login"/>
          <wm-nav-item gradient displayName="Registrieren" icon="person_add" route="/signup"/>
        </ng-container>
      </div>
    </nav>
  </header>
</ng-template>
