.header {
  display: flex;
  justify-content: space-between;
  height: 3.75em;
  background-color: #fff;
  box-shadow: .125em .125em 1.25em 0 #000000bf;

  .nav {
    display: flex;
    align-items: center;
    height: 100%;

    .home-link {
      display: block;
      margin: 0 calc(1.25em / 1.5);
      color: transparent;
      background-image: var(--wm-gradient-primary);
      background-clip: text;
      font-size: 1.5em;
      font-weight: 700;
      text-decoration: none;
    }

    wm-nav-item {
      height: 100%;
    }
  }

  .user-actions {
    display: flex;
  }
}
