**/node_modules
**/Dockerfile
**/dist
**/build
**/.angular
**/.gradle
graphify-out
docs
.github
.claude
.idea
.git
.editorconfig
.gitattributes
.gitignore
.graphifyignore
.mcp.json
CLAUDE.md
docker-compose.prod.yaml
docker-compose.yaml
LICENSE
README.md