:host {
  display: block;
  width: fit-content;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--wm-spacer-3);

    h3 {
      font: var(--wm-font-h3);
    }

    .toggle {
      display: flex;
      gap: .25em;

      button {
        background-color: transparent;
        border: none;
        font-size: 1.5em;
        color: var(--wm-color-neutral-400);
        cursor: pointer;
      }
    }
  }

  .stats {
    display: flex;
    flex-wrap: wrap;
    gap: var(--wm-spacer-4);

    .stat {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: var(--wm-spacer-3);
      width: 9em;
      height: 9em;
      padding: var(--wm-spacer-3);
      background-color: var(--wm-color-white-600);
      box-shadow: 0 0 .5em 0 #0000003d;
      border-radius: .5em;

      span {
        font: var(--wm-font-small-text);
        color: var(--wm-color-neutral-400);
      }

      p {
        font: var(--wm-font-h1);
      }
    }
  }
}
