<div class="hero">
  <div class="content">
    <h1>Werde WM-Champion 2026</h1>
    <p>Tippen. Zuschauen. Gewinnen!</p>
    <button matRipple routerLink="/signup">Jetzt mitmachen</button>
  </div>
  <div class="img">
    <img [ngSrc]="'/assets/home.jpg'" fill alt="Home Image">
  </div>

  <div class="scroll-down">
    <span class="text">So funktioniert's</span>
    <span class="material-symbols-rounded">arrow_cool_down</span>
  </div>
</div>

<div class="stats">
  <div class="stat">
    <span class="material-symbols-rounded">savings</span>
    <h2 class="gradient-text">CHF 210</h2>
    <p>Gewinnsumme</p>
  </div>

  <div class="stat">
    <span class="material-symbols-rounded">group</span>
    <h2 class="gradient-text">42</h2>
    <p>Teilnehmer</p>
  </div>

  <div class="stat">
    <span class="material-symbols-rounded">rewarded_ads</span>
    <h2 class="gradient-text">35</h2>
    <p>Spiele</p>
  </div>
</div>
