h2 {
  margin-bottom: var(--beticon-spacer-5);
}

.mdc-layout-grid__inner {
  max-width: 20em;
}

bet-avatar-upload {
  margin-bottom: var(--beticon-spacer-3);
}

bet-button {
  display: block;
  margin-top: var(--beticon-spacer-2);
  margin-bottom: var(--beticon-spacer-4);
}

@media screen and (max-width: 768px) {
  h2 {
    font: var(--beticon-font-h3);
    margin-bottom: var(--beticon-spacer-4);
  }
}
