h2 {
  margin-bottom: var(--wm-spacer-5);
}

wm-avatar-upload {
  margin-bottom: var(--wm-spacer-3);
}

wm-form-field {
  max-width: 18em;
}

wm-button {
  display: block;
  margin-top: var(--wm-spacer-2);
  margin-bottom: var(--wm-spacer-4);
}

h3 {
  margin-bottom: var(--wm-spacer-3);
}

@media screen and (max-width: 768px) {
  h2 {
    font: var(--wm-font-h3);
    margin-bottom: var(--wm-spacer-4);
  }
}
