@if (isUserLoading()) {
  <p>Wird geladen...</p>
} @else {
  @if (user(); as user) {
    <h2>Konto</h2>

    <div [formGroup]="formGroup" class="mdc-layout-grid__inner">
      <bet-avatar-upload [defaultUrl]="user.avatarUrl" formControlName="avatar"
                        class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top"/>

      <mat-form-field class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top">
        <mat-label>Benutzername</mat-label>
        <input matInput formControlName="username"/>
        @if (hasError(formGroup.get('username'), 'required')) {
          <mat-error>Pflichtfeld</mat-error>
        }
        @if (hasError(formGroup.get('username'), 'minlength')) {
          <mat-error>Min. 5 Zeichen</mat-error>
        }
        @if (hasError(formGroup.get('username'), 'maxlength')) {
          <mat-error>Max. 25 Zeichen</mat-error>
        }
        @if (hasError(formGroup.get('username'), 'usernameAvailable')) {
          <mat-error>Benutzername wird bereits verwendet</mat-error>
        }
        @if (formGroup.controls.username.pending) {
          <mat-spinner matTextSuffix [diameter]="24" mode="indeterminate"/>
        }
      </mat-form-field>

      <mat-form-field class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top">
        <mat-label>E-Mail</mat-label>
        <input matInput type="email" formControlName="email" (keyup.enter)="save()"/>
        @if (hasError(formGroup.get('email'), 'required')) {
          <mat-error>Pflichtfeld</mat-error>
        }
        @if (hasError(formGroup.get('email'), 'email')) {
          <mat-error>Ungültiges Format</mat-error>
        }
        @if (hasError(formGroup.get('email'), 'emailAvailable')) {
          <mat-error>E-Mail wird bereits verwendet</mat-error>
        }
        @if (formGroup.controls.email.pending) {
          <mat-spinner matTextSuffix [diameter]="24"/>
        }
      </mat-form-field>

      <bet-button (clickEvent)="save()">Speichern</bet-button>
    </div>

    <div [formGroup]="pwGroup" class="mdc-layout-grid__inner">
      <h3 class="mdc-layout-grid__cell--span-12">Passwort ändern</h3>

      <mat-form-field class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top">
        <mat-label>Altes Passwort</mat-label>
        <input matInput type="password" formControlName="currentPassword"/>
        <mat-error>Pflichtfeld</mat-error>
      </mat-form-field>
      <ng-container formGroupName="changed">
        <mat-form-field class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top">
          <mat-label>Neues Passwort</mat-label>
          <input matInput type="password" formControlName="password" [errorStateMatcher]="passwordErrorStateMatcher"/>
          @if (hasError(pwGroup.get('changed.password'), 'required')) {
            <mat-error>Pflichtfeld</mat-error>
          }
          @if (hasError(pwGroup.get('changed.password'), 'minlength')) {
            <mat-error>Min. 8 Zeichen</mat-error>
          }
          @if (hasError(pwGroup.get('changed.password'), 'maxlength')) {
            <mat-error>Max. 50 Zeichen</mat-error>
          }
          @if (showPasswordMatchError('password')) {
            <mat-error>Passwörter müssen übereinstimmen</mat-error>
          }
          <mat-icon matIconSuffix betPasswordIcon/>
        </mat-form-field>
        <mat-form-field class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top">
          <mat-label>Password bestätigen</mat-label>
          <input matInput type="password" formControlName="confirmPassword"
                 (keyup.enter)="changePassword()"
                 [errorStateMatcher]="confirmPasswordErrorStateMatcher"/>
          @if (hasError(pwGroup.get('changed.confirmPassword'), 'required')) {
            <mat-error>Pflichtfeld</mat-error>
          }
          @if (hasError(pwGroup.get('changed.confirmPassword'), 'minlength')) {
            <mat-error>Min. 8 Zeichen</mat-error>
          }
          @if (showPasswordMatchError('confirmPassword')) {
            <mat-error>Passwörter müssen übereinstimmen</mat-error>
          }
          <mat-icon matIconSuffix betPasswordIcon/>
        </mat-form-field>
      </ng-container>
      <bet-button class="mdc-layout-grid__cell--span-12" (clickEvent)="changePassword()">Passwort ändern</bet-button>
    </div>
  } @else {
    <h3>Es ist ein Fehler aufgetreten</h3>
    <p>Bitte laden Sie die Seite neu.</p>
  }
}
