<div class="form-control" [class.-large]="isLarge()">
  @if (!isDisabled) {
    <button class="material-symbols-rounded"
            [class.-disabled]="this.value === 0 || !this.value"
            (click)="decrement()">remove
    </button>
  }

  <bet-form-field class="form-field">
    <label>__</label>
    <input type="number" min="0" max="999" [value]="value" (input)="onInput(input.value)"
           [disabled]="isDisabled" (blur)="onTouch()" #input>
  </bet-form-field>

  @if (!isDisabled) {
    <button class="material-symbols-rounded"
            [class.-disabled]="this.value === 999"
            (click)="increment()">add
    </button>
  }
</div>
