<div class="form-control" [class.-large]="isLarge()">
  <button class="material-symbols-rounded"
          [class.-disabled]="this.value === 0 || !this.value"
          (click)="decrement()" *ngIf="!isDisabled">remove
  </button>

  <wm-form-field class="form-field">
    <label>__</label>
    <input type="number" min="0" max="999" [value]="value" (input)="onInput(input.value)"
           [disabled]="isDisabled" (blur)="onTouch()" #input>
  </wm-form-field>

  <button class="material-symbols-rounded"
          [class.-disabled]="this.value === 999"
          (click)="increment()" *ngIf="!isDisabled">add
  </button>
</div>
