:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.5em;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    margin: .125em;
    border: none;
    font-size: 2em;
    background-color: transparent;
    color: var(--wm-color-gray);
    font-weight: bolder;
    cursor: pointer;
    transition: color .2s ease, transform .2s ease;

    &.-disabled {
      color: var(--wm-color-gray-300);
    }

    &:active {
      transform: scale(.9);
    }
  }

  .form-field {
    width: 5.5em;
  }
}
