@let detailedPoints = points();

@if (detailedPoints?.correctWinner) {
  <span>Richtiger&nbsp;Sieger</span>
  <span>+&nbsp;50</span>
}
@if (detailedPoints?.correctGoalsHome) {
  <span>Tore&nbsp;Heim</span>
  <span>+&nbsp;20</span>
}
@if (detailedPoints?.correctGoalsGuest) {
  <span>Tore&nbsp;Gast</span>
  <span>+&nbsp;20</span>
}
@if (detailedPoints?.correctGoalsTotal) {
  <span>Tore&nbsp;Gesamt</span>
  <span>+&nbsp;10</span>
}
@if (detailedPoints?.joker; as joker) {
  <span>Joker</span>
  <span>x{{ joker }}</span>
}

@if (total() > 0 && hasDetails) {
  <div class="separator"></div>
}

<span class="total">Total</span>
<span class="total gradient-text">+&nbsp;{{ total() }}</span>

