<div class="stadium-ring ring-one"></div>
<div class="stadium-ring ring-two"></div>

<div class="pitch">
  <div class="center-line"></div>
  <div class="center-circle"></div>
  <div class="penalty-box left"></div>
  <div class="penalty-box right"></div>
  <div class="goal left"></div>
  <div class="goal right"></div>
  <div class="trail trail-one"></div>
  <div class="trail trail-two"></div>

  <span class="pin pin-left">
            <span class="material-symbols-rounded">sports_soccer</span>
          </span>

  <span class="pin pin-top">
            <span class="material-symbols-rounded">emoji_events</span>
          </span>

  <span class="pin pin-right">
            <span class="material-symbols-rounded">bolt</span>
          </span>

  <span class="ball-run">
            <span class="ball-shadow"></span>
            <span class="ball"></span>
          </span>
</div>
