DATABASE_HOST= # the hostname of your database server (e.g., localhost, wm-dev-mysql)
DATABASE_USER= # the username to connect to your database
DATABASE_PW= # the password to connect to your database

SECRET_KEY= # a secret key for your application (you can generate one using a secure random generator like https://cryptii.com/pipes/hmac)

SMTP_HOST= # your smtp host
SMTP_PORT= # the port of the smtp host
SMTP_USER= # the user from which you want to send emails
SMTP_PW= # the password for the smtp user