form {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-areas:
        'title           title  title'
        'flag-team-home  .      flag-team-guest'
        'team-home       joker  team-guest'
        'score-team-home result score-team-guest'
        'points          points points';
  grid-template-columns: 1fr auto 1fr;
  width: fit-content;
  padding: var(--wm-spacer-4);
  border-radius: 1em;
  background-color: var(--wm-color-white-600);
  box-shadow: 0 0 .5em 0 #0000003d;
  column-gap: var(--wm-spacer-4);

  &.-highlight {
    animation: wm-highlight 5s ease;
  }

  &.-disabled {
    background-color: var(--wm-color-neutral-100);

    .joker-form {
      .joker {
        label {
          cursor: default;
          color: var(--wm-color-neutral-200);

          &.-fill {
            color: var(--wm-color-orange-400);
          }
        }
      }
    }
  }

  &.-knockout {
    grid-template-areas:
        'flag-team-home  title      title      title      flag-team-guest'
        'flag-team-home  team-home  separator  team-guest flag-team-guest'
        'flag-team-home  prev-games prev-games prev-games flag-team-guest'
        'score-team-home prev-games prev-games prev-games score-team-guest';
    grid-template-columns: auto 1fr var(--wm-spacer-5) 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    padding: var(--wm-spacer-8) var(--wm-spacer-7);
    grid-column-gap: var(--wm-spacer-4);

    &.-disabled {
      grid-template-areas:
        'flag-team-home  title     title     title      flag-team-guest'
        'flag-team-home  team-home separator team-guest flag-team-guest'
        'flag-team-home  result    result    result     flag-team-guest'
        'flag-team-home  points    points    points     flag-team-guest'
        'score-team-home points    points    points     score-team-guest';
      grid-template-rows: auto auto auto 1fr auto;
    }

    .title {
      margin-bottom: var(--wm-spacer-5);
    }

    .flag {
      height: 17.5em;
      width: 17.5em;
      margin-bottom: var(--wm-spacer-5);
    }

    > h3 {
      margin-bottom: var(--wm-spacer-4);
    }

    > .result {
      align-self: start;
    }

    .points {
      max-width: 20rem;
    }

    .reset-btn {
      right: var(--wm-spacer-5);
      top: var(--wm-spacer-5);

      span {
        font-size: 2em;
      }
    }
  }

  .flag {
    height: 8em;
    width: 8em;
    margin-bottom: var(--wm-spacer-2);
  }

  .title {
    grid-area: title;
    width: 100%;
    margin-bottom: var(--wm-spacer-4);
    text-align: center;

    h3 {
      font: var(--wm-font-h3);
    }

    .time {
      font: var(--wm-font-h4);
      color: var(--wm-color-neutral-400);
    }
  }

  > h3, .separator {
    font: var(--wm-font-h3);
    text-align: center;
    margin-bottom: var(--wm-spacer-2);
    align-self: start;

    &.team-home {
      grid-area: team-home;
    }

    &.team-guest {
      grid-area: team-guest;
    }
  }

  > h3 {
    min-width: 11rem;
  }

  .flag-team-home {
    grid-area: flag-team-home;
  }

  .score-team-home {
    grid-area: score-team-home;
  }

  .joker-form {
    grid-area: joker;
    display: flex;
    align-items: center;
    align-self: start;
    gap: .25em;

    .joker {
      display: block;
      height: var(--wm-spacer-4);
      width: var(--wm-spacer-4);

      input {
        display: none;
      }

      input:disabled ~ label {
        cursor: default;
      }

      label {
        font-variation-settings: 'FILL' 1;
        color: var(--wm-color-neutral-400);
        transition: color .2s ease;
        cursor: pointer;
        user-select: none;

        &.-disabled {
          pointer-events: none;
          color: var(--wm-color-neutral-200);
        }

        &.-fill {
          color: var(--wm-color-orange-600);
        }
      }
    }
  }

  .points {
    grid-area: points;
    width: 100%;
    max-width: 12em;
    margin-top: var(--wm-spacer-4);
    justify-self: center;
    align-self: start;
  }

  > .result {
    grid-area: result;
  }

  .flag-team-guest {
    grid-area: flag-team-guest;
  }

  .score-team-guest {
    grid-area: score-team-guest;
  }

  .separator {
    grid-area: separator;
  }

  .prev-games {
    grid-area: prev-games;
    align-self: start;

    .prev-games-layout {
      display: flex;
      gap: var(--wm-spacer-5);
      margin-top: var(--wm-spacer-3);
    }
  }

  .reset-btn {
    position: absolute;
    right: var(--wm-spacer-4);
    top: var(--wm-spacer-4);
    background-color: transparent;
    border: none;
    color: var(--wm-color-secondary-500);
    cursor: pointer;
    transition: transform .2s ease;

    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      color: var(--wm-color-neutral-200);
      cursor: default;
    }
  }
}

@media screen and (max-width: 992px) {
  form, form.-disabled {
    &.-knockout {
      grid-template-areas:
        'title           title'
        'flag-team-home  flag-team-guest'
        'team-home       team-guest'
        'score-team-home score-team-guest'
        'prev-games      prev-games'
        'result          result'
        'points          points';
      grid-template-columns: 1fr 1fr;
      padding: var(--wm-spacer-3);
      width: 100%;
      min-width: 18.5em;

      .points {
        max-width: 12rem;
      }

      .title {
        margin-bottom: var(--wm-spacer-3);
      }

      .joker {
        margin-bottom: var(--wm-spacer-3);
      }

      .separator {
        display: none;
      }

      > .flag {
        width: 6em;
        height: 6em;
        margin-bottom: 0;
      }

      > h3 {
        font: var(--wm-font-h3);
        margin-bottom: 0;
      }

      .score-team-guest, .score-team-home {
        margin-bottom: var(--wm-spacer-3);
      }

      .result {
        margin-top: var(--wm-spacer-3);
      }

      .reset-btn {
        right: var(--wm-spacer-4);
        top: var(--wm-spacer-4);

        span {
          font-size: 1.75em;
        }
      }
    }

    > h3 {
      min-width: unset;
    }
  }
}

@media screen and (max-width: 768px) {
  form, form.-disabled, form.-knockout {
    padding: var(--wm-spacer-3);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title           title'
      'joker           joker'
      'flag-team-home  flag-team-guest'
      'team-home       team-guest'
      'score-team-home score-team-guest'
      'result          result'
      'points          points';
    width: 100%;
    min-width: 18.5em;

    .title {
      margin-bottom: var(--wm-spacer-2);
    }

    .joker {
      margin-bottom: var(--wm-spacer-3);
    }

    > .flag {
      width: 6em;
      height: 6em;
      margin-bottom: var(--wm-spacer-1);
    }

    > h3 {
      font: var(--wm-font-regular-bold);
      margin-bottom: var(--wm-spacer-1);
    }

    .result {
      margin-top: 0;
    }

    .reset-btn {
      right: var(--wm-spacer-4);
      top: var(--wm-spacer-4);

      span {
        font-size: 1.75em;
      }
    }
  }
}

@keyframes wm-highlight {
  10%, 90% {
    box-shadow: 0 0 .5em 0 var(--wm-color-primary-600);
  }
}
