@if (game(); as game) {
  <form [formGroup]="formGroup" [class.-highlight]="highlight()" [class.-disabled]="isDisabled"
        [class.-knockout]="knockout()">
    @if (!isDisabled) {
      <button class="reset-btn" (pointerup)="reset()">
        <span class="material-symbols-rounded">delete</span>
      </button>
    }
    <div class="title">
      <h3>{{ game.timestamp | date:'dd.MM.yyyy' }}</h3>
      <p class="time">{{ game.timestamp | date:'HH:mm' }} Uhr</p>
    </div>

    <div class="flag-team-home flag">
      <img [ngSrc]="game.teamHome.flag" [alt]="game.teamHome.name" fill>
    </div>

    <h3 class="team-home">{{ game.teamHome.name }}</h3>
    <bet-score-form-field [large]="knockout()" class="score-team-home" formControlName="scoreTeamHome"/>

    @if (!knockout() && !admin()) {
      <div class="joker-form">
        @for (joker of [1, 2, 3]; track $index) {
          <div class="joker">
            <input name="joker" formControlName="joker"
                   [id]="game.id + '-joker-' + joker"
                   [value]="joker" type="radio"/>
            <label [for]="game.id + '-joker-' + joker" class="material-symbols-rounded"
                   [class.-disabled]="!hasJokersAvailable(joker)"
                   [class.-fill]="fillJoker(joker)">star</label>
          </div>
        }
      </div>
    }

    @if (isDisabled && !admin()) {
      <bet-result [result]="game.result" class="result" [large]="knockout()"/>

      @let points = game | points;
      @let totalPoints = points | totalPoints;

      @if (totalPoints > 0 && points) {
        <bet-expandable name="Punkteverteilung" class="points" [large]="knockout()">
          <ng-container bet-content>
            <bet-point-table [total]="totalPoints" [points]="points" [large]="knockout()"/>
          </ng-container>
          <ng-container bet-preview>
            <bet-point-table [total]="totalPoints" [large]="knockout()"/>
          </ng-container>
        </bet-expandable>
      }
    }

    <div class="flag-team-guest flag" [style]="{'--url': 'url(' + game.teamGuest.flag + ')'}">
      <img [ngSrc]="game.teamGuest.flag" [alt]="game.teamGuest.name" fill>
    </div>
    <h3 class="team-guest">{{ game.teamGuest.name }}</h3>
    <bet-score-form-field [large]="knockout()" class="score-team-guest" formControlName="scoreTeamGuest"/>

    @if (knockout()) {
      <div class="separator">-</div>

      @if (!isDisabled && !admin()) {
        <bet-expandable class="prev-games" name="Vergangene Spiele" [large]="knockout()">
          <ng-container bet-content>
            <div class="prev-games-layout">
              <bet-team-previous-games [team]="game.teamHome"/>
              <bet-team-previous-games [team]="game.teamGuest"/>
            </div>
          </ng-container>
        </bet-expandable>
      }
    }
  </form>
}
