form {
  display: grid;
  place-items: center;
  grid-template-areas:
        'date date date'
        'time time time'
        'flag-team-home . flag-team-guest'
        'team-home joker team-guest'
        'score-team-home result score-team-guest';
  grid-template-columns: 10.5em 5em 10.5em;
  width: 31em;
  padding: 1.5em 2.5em 3em;
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0 0 .5em 0 #0000003d;
  column-gap: .5em;

  &.-highlight {
    animation: wm-highlight 5s ease;
  }

  &.-disabled {
    background-color: var(--wm-color-gray-050);

    .joker-form {
      .joker {
        label {
          cursor: default;
          color: var(--wm-color-gray-200);

          &.-fill {
            color: var(--wm-color-orange-500);
          }
        }
      }
    }
  }

  &.-knockout {
    width: 67em;
    grid-template-areas:
        'flag-team-home date date date flag-team-guest'
        'flag-team-home time time time flag-team-guest'
        'flag-team-home team-home separator team-guest flag-team-guest'
        'flag-team-home prev-games-home result prev-games-guest flag-team-guest'
        'score-team-home prev-games-home result prev-games-guest score-team-guest';
    grid-template-columns: 17.5em 10em 2em 10em 17.5em;
    grid-template-rows: 4.5em 4.25em 3.25em 7.5em 5.25em;
    column-gap: 1em;

    h2 {
      display: flex;
      align-items: end;
      height: 100%;
      margin-bottom: .5em;
    }

    .time {
      display: flex;
      align-items: start;
      height: 100%;
    }

    .flag {
      height: 17.5em;
      width: 17.5em;
    }

    > .result {
      align-self: start;
      margin-top: .125em;
      font-size: 1em;
    }
  }

  .flag {
    height: 8em;
    width: 8em;
    margin-bottom: .625em;
  }

  h2 {
    grid-area: date;
    font-size: 1.5em;
    font-weight: 700;
  }

  .time {
    grid-area: time;
    font-size: 1.25em;
    font-weight: 500;
    color: var(--wm-color-gray-500);
    margin-bottom: .8em;
  }

  h3, .separator {
    --font-size: 1.5;

    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(2em / var(--font-size));
    width: 100%;
    font-size: calc(1em * var(--font-size));
    font-weight: 700;
    margin-bottom: calc(1em / var(--font-size));

    &.team-home {
      grid-area: team-home;
    }

    &.team-guest {
      grid-area: team-guest;
    }
  }

  .flag-team-home {
    grid-area: flag-team-home;
  }

  .score-team-home {
    grid-area: score-team-home;
  }

  .joker-form {
    grid-area: joker;
    display: flex;
    align-items: center;
    align-self: start;
    gap: .25em;
    height: 2em;

    .joker {
      display: block;
      height: 1.5em;
      width: 1.5em;

      input {
        display: none;
      }

      input:disabled ~ label {
        cursor: default;
      }

      label {
        font-variation-settings: 'FILL' 1;
        color: var(--wm-color-gray-300);
        transition: color .2s ease;
        cursor: pointer;
        user-select: none;

        &.-disabled {
          pointer-events: none;
          color: var(--wm-color-gray-200);
        }

        &.-fill {
          color: var(--wm-color-orange);
        }
      }
    }
  }

  .result {
    grid-area: result;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .375em;

    h4 {
      font-size: .75em;
      font-weight: 600;
      color: var(--wm-color-gray);
      text-align: center;
    }

    p {
      font-weight: 600;
    }
  }

  .flag-team-guest {
    grid-area: flag-team-guest;
  }

  .score-team-guest {
    grid-area: score-team-guest;
  }

  .separator {
    grid-area: separator;
  }

  .prev-games-home {
    grid-area: prev-games-home;
  }

  .prev-games-guest {
    grid-area: prev-games-guest;
  }

  .previous-games {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 6.5em;
    align-items: center;
    gap: .75em;

    h4 {
      font-size: 1.25em;
      font-weight: 500;
      color: var(--wm-color-gray);
    }

    .games {
      display: flex;
      flex-direction: column;
      gap: .5em;
      width: 100%;
      padding: .25em 0;

      .prev-game {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .flag.-small {
          height: 3em;
          width: 3em;
          margin-bottom: 0;
        }

        .result {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          font-size: 1.25em;
          color: var(--wm-color-gray-500);

          &.-is-guest {
            flex-direction: row-reverse;
          }

          .-bold {
            font-weight: 600;
            color: #000;
          }
        }
      }
    }
  }
}

@keyframes wm-highlight {
  10%, 90% {
    background-color: var(--wm-color-primary-200);
  }
}
