@switch (state) {
  @case (STATE.FORM) {
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <bet-user-management-panel heading="Passwort zurücksetzen">
        <ng-container bet-content>
          <p>Gib die E-Mail-Adresse deines Kontos an, um eine E-Mail mit einem Link zum Zurücksetzen deines Passworts zu
            senden.</p>
          <mat-form-field class="full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput formControlName="email" autofocus>
            @if (hasError(formGroup.get('email'), 'required')) {
              <mat-error>Pflichtfeld</mat-error>
            } @else if (hasError(formGroup.get('email'), 'email')) {
              <mat-error>Ungültiges Format</mat-error>
            }
          </mat-form-field>
        </ng-container>

        <ng-container bet-actions>
          <bet-button submit (clickEvent)="submit()" [disabled]="isLoading()">Passwort zurücksetzen</bet-button>
        </ng-container>
      </bet-user-management-panel>
    </form>
  }
  @case (STATE.CONFIRMATION) {
    <bet-user-management-panel heading="Passwort zurücksetzen">
      <ng-container bet-content>
        <p>Wenn ein Konto mit der angegebenen E-Mail-Adresse existiert, wurde eine E-Mail zum Zurücksetzen des
          Passworts gesendet.</p>
      </ng-container>
      <bet-button routerLink="/login">Zur Anmeldung</bet-button>
    </bet-user-management-panel>
  }
}
