@switch (state) {
  @case (STATE.FORM) {
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <wm-user-management-panel heading="Passwort zurücksetzen">
        <ng-container wm-content>
          <p>Gib die Email Adresse deines Kontos an, um eine Email mit einem Link zum Zurücksetzen deines Passworts zu
            senden.</p>
          <wm-form-field>
            <label>Email</label>
            <input formControlName="email" autofocus>
            @if (hasError(formGroup.get('email'), 'required')) {
              <span>Pflichtfeld</span>
            } @else if (hasError(formGroup.get('email'), 'email')) {
              <span>Ungültiges Format</span>
            }
          </wm-form-field>
        </ng-container>

        <ng-container wm-actions>
          <wm-button submit (clickEvent)="submit()" [disabled]="isLoading()">Passwort zurücksetzen</wm-button>
        </ng-container>
      </wm-user-management-panel>
    </form>
  }
  @case (STATE.CONFIRMATION) {
    <wm-user-management-panel heading="Passwort zurücksetzen">
      <ng-container wm-content>
        <p>Wenn ein Konto mit der angegebenen E-Mail-Adresse existiert, wurde eine E-Mail zum Zurücksetzen des
          Passworts gesendet.</p>
      </ng-container>
      <wm-button routerLink="/login">Zur Anmeldung</wm-button>
    </wm-user-management-panel>
  }
}
