h2 {
  margin-bottom: var(--beticon-spacer-5);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--beticon-spacer-4);
  margin-bottom: var(--beticon-spacer-4);

  .channel {
    display: flex;
    flex-direction: column;
    gap: .75em;

    .preferences {
      display: flex;
      flex-direction: column;
      gap: .75em;
      margin-left: 1em;
    }
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font: var(--beticon-font-h3);
  }
}
