:host {
  display: block;
  width: 100%;
  padding: var(--beticon-spacer-8);

  h1 {
    margin-bottom: var(--beticon-spacer-3);
  }

  .sub-heading.loading {
    margin-bottom: var(--beticon-spacer-3);
  }

  p.additional-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--beticon-spacer-1);
    width: 100%;
    font: var(--beticon-font-regular-text);
    color: var(--beticon-color-neutral-400);
    margin-bottom: var(--beticon-spacer-6);

    .is-saving {
      font: var(--beticon-font-regular-text);
    }
  }
}

.games {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--beticon-spacer-4) var(--beticon-spacer-5);
  padding: 0 var(--beticon-spacer-5);
  margin-top: 5em;
}

.action-bar {
  position: sticky;
  top: calc(var(--beticon-header-height) + var(--beticon-spacer-3));
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: var(--beticon-spacer-4);
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: var(--beticon-spacer-4);

  .panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--beticon-spacer-3);
    padding: var(--beticon-spacer-3) var(--beticon-spacer-4);
    border-radius: 1em;
    border: 1px solid #00000012;
    background-color: #fff;
    box-shadow: 0 .25em 1em 0 #00000024;

    .panel-title {
      font: var(--beticon-font-small-bold);
      letter-spacing: .08em;
      text-transform: uppercase;
      color: var(--beticon-color-neutral-500);
    }

    .panel-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--beticon-spacer-4);

      .bet-link {
        text-align: center;
        padding: 0 var(--beticon-spacer-2);
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  :host {
    padding: var(--beticon-spacer-6) var(--beticon-spacer-5);
  }

  .action-bar {
    flex-direction: column-reverse;
    align-items: center;
  }

  .games {
    margin-top: var(--beticon-spacer-5);
  }
}

@media screen and (max-width: 576px) {
  :host {
    padding: var(--beticon-spacer-6) var(--beticon-spacer-4);
  }
}
