:host {
  display: block;
  width: 100%;
  padding: 5em;

  h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: calc(1.5em / 2);

    ~ p {
      font-size: 1.5em;
    }
  }

  p.sub-heading {
    margin-bottom: calc(.5em / 2.25);
  }

  p.additional-info {
    display: flex;
    justify-content: center;
    gap: .5em;
    align-items: center;
    color: var(--wm-color-gray-500);
    margin-bottom: 5em;

    .is-saving {
      font-size: 1em;
    }
  }
}

.games {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4em;
  margin-top: 5em;
}

.actions {
  position: fixed;
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1em;
  padding: .75em 1.5em;
  border-radius: .5em;
  background-color: #fff;
  box-shadow: 0 .25em 1em 0 #0000003d;

  .wm-link {
    text-align: center;
    padding: 0 1em;
  }
}

