@if (isLoading()) {
  <h1>Gruppe</h1>
  <p class="sub-heading loading">Wird geladen...</p>
  <div class="loader-wrapper">
    <bet-spinner/>
  </div>
} @else {
  @if (group(); as group) {
    <h1>{{ group.name }}</h1>
    @switch (mode()) {
      @case ('bet') {
        @if (group.percentage > 0) {
          <p class="sub-heading">Du hast bereits <span
            class="highlight">{{ group.percentage | number:'1.1-1' }}%</span> dieser Gruppe ausgefüllt!</p>
        } @else {
          <p class="sub-heading">Bereit deinen ersten Tipp abzugeben?</p>
        }
        @if (group.lastSavedAt; as lastSave) {
          <p class="additional-info">
            @if (isSaving()) {
              <bet-spinner class="is-saving"/>
            }
            <span>Zuletzt gespeichert am {{ lastSave | date:'dd.MM.yyyy - HH:mm' }}</span>
          </p>
        }
      }
      @case ('admin') {
        @if (group.lastSavedAt; as lastSave) {
          <p class="additional-info">Zuletzt geändert am {{ lastSave | date:'dd.MM.yyyy - HH:mm' }}</p>
        }
      }
    }

    <div class="action-bar">
      @if (mode() === 'bet') {
        @if (jokers(); as jokers) {
          <div class="panel">
            <p class="panel-title">Verfügbare Joker</p>
            <div class="panel-content">
              <bet-remaining-joker-display [jokersMax]="jokers.jdoubleMax"
                                          [jokersRemaining]="jokers.jdouble"
                                          [jokerMultiplier]="2"/>
              <bet-remaining-joker-display [jokersMax]="jokers.jtripleMax"
                                          [jokersRemaining]="jokers.jtriple"
                                          [jokerMultiplier]="3"/>
            </div>
          </div>
        }
      }

      <div class="panel">
        <div class="panel-title">Speichern & Verlassen</div>
        <div class="panel-content">
          <a role="button" tabindex="0"
             class="bet-link" (pointerup)="back()"
             (keyup.enter)="back()" (keyup.space)="back()"
          >Abbrechen</a>
          <bet-button [disabled]="isSaving()" (clickEvent)="save()" icon="save">Speichern</bet-button>
        </div>
      </div>
    </div>

    <form [formGroup]="form">
      <div class="games" formArrayName="bets">
        @for (control of form.controls.bets.controls; track $index; let i = $index) {
          @if (findGame(control.value.game); as game) {
            <bet-bet-form (disabledChange)="$event ? control.disable(): control.enable()" [game]="game"
                         [formControlName]="i" [highlight]="highlight() === game.id"
                         [knockout]="group.isKnockout" [admin]="mode() === 'admin'"/>
          }
        }
      </div>
    </form>

  } @else {
    <h2>Es ist ein Fehler aufgetreten</h2>
    <p class="sub-heading">Bitte laden Sie die Seite neu oder kehren Sie zur Übersicht zurück.</p>
  }
}
