:host {
  display: flex;
  align-items: center;

  button.notification-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;

    span {
      font-size: 1em;
      color: var(--beticon-color-neutral-600);
    }

    &.-mobile {
      font-size: 2em;
    }

    &.-nudge:after {
      content: '';
      position: absolute;
      top: .175em;
      right: .175em;
      display: block;
      height: .25em;
      width: .25em;
      background-image: var(--beticon-gradient-primary-600);
      border-radius: 50%;
      font-size: inherit;
    }
  }
}

.notification {
  display: flex;
  padding: 0 var(--beticon-spacer-1);
  color: var(--beticon-color-neutral-600);
  text-decoration: none;
  transition: background-color .25s ease;

  &:not(:first-of-type) {
    border-top: 1px solid var(--beticon-color-neutral-200);
  }

  &:hover {
    background-color: var(--beticon-color-neutral-100);
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    padding: .25rem;

    .icon {
      display: grid;
      place-items: center;
      background-color: var(--beticon-color-neutral-100);
      height: 2em;
      width: 2em;
      border-radius: 50%;
      color: var(--beticon-color-neutral-500);
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: .125em;
    padding: var(--beticon-spacer-1) var(--beticon-spacer-2);

    h3 {
      font: var(--beticon-font-regular-bold);
    }

    p {
      font: var(--beticon-font-small-text);
      color: var(--beticon-color-neutral-500);
    }
  }
}
