<button [matMenuTriggerFor]="notificationMenu" [disabled]="!hasNotifications()"
        class="notification-trigger" [class.-mobile]="mobile()" [class.-nudge]="hasNotifications()">
  <span class="material-symbols-rounded">notifications</span>
</button>

<mat-menu #notificationMenu xPosition="before" [class]="'notifications' + (mobile() ? ' -mobile' : '')">
  @for (notification of notifications(); track notification.id) {
    <a class="notification" [routerLink]="notification.route" matRipple (click)="markAsRead(notification.id)">
      <div class="icon-wrapper">
        <div class="icon">
          <span class="material-symbols-rounded">help</span>
        </div>
      </div>
      <div class="text">
        <h3>{{ notification.title }}</h3>
        <p>{{ notification.content }}</p>
      </div>
    </a>
  }
</mat-menu>
