:host {
  display: block;
  width: 100%;
  padding: var(--beticon-spacer-8);

  h1 {
    margin-bottom: var(--beticon-spacer-3);
  }

  p.sub-heading {
    margin-bottom: var(--beticon-spacer-6);
  }

  h3 {
    font: var(--beticon-font-h3);
    margin-bottom: var(--beticon-spacer-3);
  }

  .groups {
    display: flex;
    gap: var(--beticon-spacer-5);
    margin-bottom: var(--beticon-spacer-6);
    flex-wrap: wrap;
    width: 100%;

    .group {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 14em;
      background-color: var(--beticon-color-white-600);
      box-shadow: 0 0 .5em 0 #0000003d;
      border-radius: .5em;
      padding: var(--beticon-spacer-3) var(--beticon-spacer-4);

      h3 {
        font: var(--beticon-font-h3);
        margin-bottom: var(--beticon-spacer-1);
      }

      .thumbnail {
        --group-progress: 0%;

        display: grid;
        place-items: center;
        position: relative;
        height: 11.5em;
        width: 11.5em;
        background-image: var(--beticon-gradient-primary-600);
        border-radius: 50%;
        box-shadow: 0 0 .5em 0 #0000003d;
        margin-bottom: var(--beticon-spacer-1);
        transition: --group-progress .2s ease;

        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 101%;
          height: 101%;
          background-image: conic-gradient(
            transparent 0%,
            transparent var(--group-progress),
            var(--beticon-color-white-600) var(--group-progress),
            var(--beticon-color-white-600) 100%
          );
          border-radius: 50%;
        }

        .thumbnail-progress {
          display: flex;
          flex-wrap: wrap;
          gap: .5em;
          width: 11.25em;
          height: 11.25em;
          padding: 1.375em;
          border-radius: 50%;
          background-color: var(--beticon-color-white-600);

          .flag {
            display: block;
            position: relative;
            height: 4em;
            width: 4em;
            border-radius: 2em;
            box-shadow: inset 0 0 .25em 0 #0000003d;
            overflow: hidden;
          }

          .custom-thumbnail, .material-symbols-rounded {
            display: grid;
            place-items: center;
            position: relative;
            color: var(--beticon-color-neutral-400);
          }

          .custom-thumbnail {
            top: calc(.5em / 3);
            left: calc(.5em / 3);
            height: 2.5em;
            width: 2.5em;
            font-size: 3em;
            font-weight: 700;
            border-radius: 50%;
            background-color: var(--beticon-color-neutral-100);
          }

          .material-symbols-rounded {
            width: 100%;
            height: 100%;
            font-size: 8.25em;
          }
        }
      }

      p {
        font-size: 1.25em;
        margin-bottom: var(--beticon-spacer-2);
      }
    }
  }
}

@property --group-progress {
  inherits: true;
  initial-value: 0%;
  syntax: '<percentage>';
}

@media screen and (max-width: 992px) {
  :host {
    padding: var(--beticon-spacer-6) var(--beticon-spacer-5);

    h3 {
      text-align: center;
    }

    .groups {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 576px) {
  :host {
    padding: var(--beticon-spacer-6) var(--beticon-spacer-4);
  }
}
