a {
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .5em 1em;
  color: var(--wm-color-neutral-500);
  font: var(--wm-font-regular-text);
  cursor: pointer;
  transition: background-color .25s ease-out, color .25s ease-out, font-weight .1s ease-out;
  text-decoration: none;
  border-radius: .5em;

  .material-symbols-rounded {
    font-variation-settings:
      'wght' 400;
    transition: font-variation-settings .1s ease-out;
  }

  &:hover {
    background-color: var(--wm-color-neutral-200);
    color: var(--wm-color-neutral-600);
  }

  &.-active {
    background-color: var(--wm-color-neutral-100);
    font: var(--wm-font-regular-bold);
    color: var(--wm-color-neutral-600);

    .material-symbols-rounded {
      font-variation-settings:
        'wght' 700;
    }
  }
}
