h3 {
  font: var(--wm-font-h3);
  margin-bottom: var(--wm-spacer-3);
}

.upcoming-games {
  display: flex;
  flex-wrap: wrap;
  gap: var(--wm-spacer-3) var(--wm-spacer-4);
  margin-bottom: var(--wm-spacer-3);
}
