button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .125em;
  padding: .5em 1.25em;
  border: none;
  border-radius: .25em;
  box-shadow: 0 .125em .25em 0 #0000003d;
  color: #fff;
  background-image: var(--wm-gradient-primary);
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: transform .25s ease;

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .25em;
    background-color: #00000000;
    transition: background-color .25s ease;
  }

  &:hover::after {
    background-color: #0000002d;
  }

  &:disabled {
    background-image: var(--wm-gradient-primary-disabled);
    cursor: auto;

    &.secondary {
      color: var(--wm-color-gray-300);
      background-color: var(--wm-color-gray-100);
    }

    &::after {
      display: none;
    }
  }

  &.secondary {
    color: var(--wm-color-gray);
    background-image: none;
    background-color: var(--wm-color-gray-200);
  }

  &:active:not(:disabled) {
    transform: scale(.975);
  }
}
