<form [formGroup]="formGroup" (ngSubmit)="resetPassword()">
  <wm-user-management-panel heading="Passwort zurücksetzen">
    <ng-container wm-content>
      <wm-form-field>
        <label>Passwort</label>
        <input formControlName="password" type="password"
               [class.ng-invalid]="hasError(formGroup.get('password')) || hasError(formGroup, 'passwordMatch')">
        @if (hasError(formGroup.get('password'), 'required')) {
          <span>Pflichtfeld</span>
        }
        @if (hasError(formGroup.get('password'), 'minlength')) {
          <span>Min. 8 Zeichen</span>
        }
        @if (hasError(formGroup, 'passwordMatch') && !hasError(formGroup.get('password'))) {
          <span>Passwörter stimmen nicht überein</span>
        }
      </wm-form-field>

      <wm-form-field>
        <label>Passwort bestätigen</label>
        <input formControlName="confirmPassword" type="password"
               [class.ng-invalid]="hasError(formGroup.get('confirmPassword')) || hasError(formGroup, 'passwordMatch')">
        @if (hasError(formGroup.get('confirmPassword'), 'required')) {
          <span>Pflichtfeld</span>
        }
        @if (hasError(formGroup, 'passwordMatch') && !hasError(formGroup.get('confirmPassword'))) {
          <span>Passwörter stimmen nicht überein</span>
        }
      </wm-form-field>
    </ng-container>
    <ng-container wm-actions>
        <wm-button (clickEvent)="resetPassword()" submit [disabled]="isLoading()" full-width>Weiter</wm-button>
    </ng-container>
  </wm-user-management-panel>
</form>
