:host {
  display: block;
  width: fit-content;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--wm-color-neutral-200);

  .name {
    font: var(--wm-font-small-text);
    color: var(--wm-color-neutral-500);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: var(--wm-color-neutral-400);
    cursor: pointer;
    transition: transform .2s ease;

    &.-expanded {
      transform: rotate(180deg);
    }
  }
}

.content {
  overflow: hidden;
  width: 0;

  &.-expanded {
    width: 100%;
  }
}

.preview {
  overflow: hidden;
  width: 100%;

  &.-expanded {
    width: 0;
  }
}
