:host {
  display: block;
  width: fit-content;

  &.-large .heading {
    .name {
      font: var(--beticon-font-regular-text);
    }

    button {
      font-size: 2em;
    }
  }
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--beticon-color-neutral-200);
  cursor: pointer;

  .name {
    font: var(--beticon-font-small-text);
    color: var(--beticon-color-neutral-500);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: var(--beticon-color-neutral-400);
    cursor: pointer;
    transition: transform .2s ease;

    &.-expanded {
      transform: rotate(180deg);
    }
  }
}

.preview, .content {
  box-sizing: border-box;
  overflow: hidden;
}

.content {
  width: 0;
  padding: 0;

  &.-expanded {
    width: 100%;
    padding: var(--beticon-spacer-1) .25em;
  }
}

.preview {
  width: 100%;
  padding: 0 .25em;

  &.-expanded {
    width: 0;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  :host, :host.-large {
    .heading {
      .name {
        font: var(--beticon-font-small-text);
      }

      button {
        font-size: 1.5em;
      }
    }
  }
}
