<div class="leaderboard">
  <h1>Rangliste</h1>
  <p class="sub-heading">Du bist nicht aufgestiegen</p>
  <div class="user-position">
    @if (userPos(); as userPos) {
      <h2>{{ userPos.username }}</h2>
      <div class="flag avatar">
        <img [ngSrc]="userPos.avatar ?? '/assets/user.jpg'" [alt]="userPos.username" fill>
      </div>
      <h3>Deine Position</h3>
      <span class="ranking">{{ userPos.ranking }}</span>
      <span class="points">{{ userPos.points }} Punkte</span>
    } @else {
      <p>Melde dich an um mehr Informationen zu sehen.</p>
    }
  </div>
  <div class="board">
    <wm-position
      *ngFor="let ranking of leaderboard()"
      [ranking]="ranking"
      [class.-sticky]="ranking.id === userPos()?.id"
      [highlight]="ranking.id === userPos()?.id"/>
    <wm-position *ngIf="leaderboard().length === 0" [ranking]="{
      ranking: 1,
      username: 'Es sind noch keine Spieler in der Rangliste',
      previousRanking: 1,
      avatar: null,
      points: 0,
      id: ''
      }"/>
  </div>
</div>
