<div class="leaderboard">
  <h1>Rangliste</h1>
  <p class="sub-heading">Du bist nicht aufgestiegen!</p>
  <div class="board">
    <wm-position
      *ngFor="let ranking of leaderboard()"
      [ranking]="ranking"
      [class.-sticky]="ranking.id === userPos()?.id"
      [highlight]="ranking.id === userPos()?.id"/>
    <wm-position *ngIf="leaderboard().length === 0" [ranking]="{
      ranking: 1,
      username: 'Es sind noch keine Spieler in der Rangliste',
      prevRanking: 1,
      avatar: null,
      points: 0,
      id: ''
      }"/>
  </div>
</div>
