.leaderboard {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'heading'
    'sub-heading'
    'board';
  padding: var(--wm-spacer-8);
  height: calc(100vh - var(--wm-header-height));
  width: 100%;

  h1 {
    grid-area: heading;
    margin-bottom: var(--wm-spacer-3);
  }

  p.sub-heading {
    grid-area: sub-heading;
    margin-bottom: var(--wm-spacer-6);
  }

  .board {
    position: relative;
    grid-area: board;
    display: flex;
    flex-direction: column;
    gap: var(--wm-spacer-1);
    width: 100%;
    max-width: 50em;
    height: 100%;
    padding: .5em;
    margin: 0 auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: .75em;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--wm-color-neutral-100);
      border-radius: .375em;
      box-shadow: 0 0 .125em 0 #0000003d inset;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--wm-color-neutral-200);
      width: .75em;
      border-radius: .375em;
    }

    &::after {
      content: '';
      display: block;

    }

    wm-position.-sticky {
      position: sticky;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 992px) {
  .leaderboard {
    padding: var(--wm-spacer-6) var(--wm-spacer-5);
  }
}

@media screen and (max-width: 576px) {
  .leaderboard {
    padding: var(--wm-spacer-6) var(--wm-spacer-4);
    overflow-y: scroll;

    h1 {
      font: var(--wm-font-h2);
    }

    p.sub-heading {
      display: none;
    }

    .board {
      overflow-y: unset;
    }
  }
}
