<div class="user-management">
  <h1>Benutzerverwaltung</h1>

  <div class="users">
    <div *ngFor="let user of users()" class="user-request" [class.-accepted]="isAccepted(user)"
         [class.-denied]="isDenied(user)">
      <div class="avatar flag">
        <img [ngSrc]="user.avatarUrl ?? '/assets/user.jpg'" [alt]="user.username" fill>
      </div>
      <div>
        <div class="name">
          <span>{{ user.username }}</span>
          <div class="info">
            <span>{{ user.firstname }} {{ user.lastname }}</span>
            <span>-</span>
            <a class="wm-link" [href]="'mailto:' + user.email">{{ user.email }}</a>
          </div>
        </div>
      </div>
      <div class="actions">
        <button matRipple (click)="accept(user.id)" class="accept" [disabled]="isAccepted(user)"><span
          class="material-symbols-rounded">check</span></button>
        <button matRipple (click)="deny(user.id)" class="deny" [disabled]="isDenied(user)"><span
          class="material-symbols-rounded">close</span>
        </button>
      </div>
    </div>
  </div>
</div>
