wm-form-field {
  display: block;

  .form-field {
    position: relative;

    &:has(input:not(:placeholder-shown)), &:focus-within {
      label {
        top: .5em;
        left: 1.25em;
        font-size: .5em;
      }

      &:has(input[type="number"]) {
        label {
          display: none;
        }
      }
    }

    &:has(input[type="number"]) {
      label {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .show-password-icon {
      position: absolute;
      top: 50%;
      right: .75em;
      border: none;
      transform: translateY(-50%);
      cursor: pointer;
      color: var(--wm-color-gray-300);
    }

    label {
      position: absolute;
      top: 50%;
      left: calc(2em / 3);
      color: var(--wm-color-gray-300);
      font-size: 1.125em;
      font-weight: 600;
      transform: translateY(-50%);
      transition: font-size .2s ease, top .2s ease, left .2s ease;
      pointer-events: none;
    }

    input {
      width: 100%;
      height: calc(1em / 16 / 1.125 * 40);
      background-color: var(--wm-color-gray-100);
      border: none;
      border-radius: calc(2em / 9);
      outline: none;
      padding: 0 calc(2em / 3);
      font-size: 1.125em;
      font-weight: 500;
      color: var(--wm-color-gray);
      box-shadow: 0 calc(1em / 9) calc(2em / 9) 0 #0000001a inset;

      &[type="number"] {
        font-weight: 600;

        text-align: center;
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      &:disabled {
        box-shadow: none;
      }
    }
  }
}
