<form [formGroup]="formGroup" (ngSubmit)="login()">
  <wm-user-management-panel heading="Anmelden">
    <ng-container wm-content>
      <wm-form-field>
        <label>Username</label>
        <input formControlName="username" autofocus>
        <span *ngIf="hasError(formGroup.get('username'), 'required')">Pflichtfeld</span>
      </wm-form-field>

      <wm-form-field>
        <label>Password</label>
        <input formControlName="password" type="password">
        <span *ngIf="hasError(formGroup.get('password'), 'required')">Pflichtfeld</span>
      </wm-form-field>
      <span class="login-error" *ngIf="userError() as error">{{error}}</span>
    </ng-container>
    <ng-container wm-actions>
      <a routerLink="/forgot-password">Passwort vergessen?</a>
      <wm-button (clickEvent)="login()" submit>Anmelden</wm-button>
    </ng-container>
  </wm-user-management-panel>
</form>
