<wm-user-management-panel title="Konto erstellen">
  <ng-container wm-content>
    <form [formGroup]="formGroup">
      <wm-form-field>
        <label>Username</label>
        <input formControlName="username"/>
        <span *ngIf="hasError(formGroup.controls.username, 'required')">Pflichtfeld</span>
        <span *ngIf="hasError(formGroup.controls.username, 'minlength')">Min. 5 Zeichen</span>
        <span *ngIf="hasError(formGroup.controls.username, 'usernameAvailable')">Username wird bereits verwendet</span>
      </wm-form-field>
      <wm-form-field>
        <label>E-Mail</label>
        <input formControlName="email"/>
        <span *ngIf="hasError(formGroup.controls.email, 'required')">Pflichtfeld</span>
        <span *ngIf="hasError(formGroup.controls.email, 'email')">Ungültiges Format</span>
        <span *ngIf="hasError(formGroup.controls.email, 'emailAvailable')">E-Mail wird bereits verwendet</span>
      </wm-form-field>

      <wm-form-field>
        <label>Vorname</label>
        <input formControlName="firstname"/>
        <span *ngIf="hasError(formGroup.controls.firstname, 'required')">Pflichtfeld</span>
        <span *ngIf="hasError(formGroup.controls.firstname, 'minlength')">Min. 2 Zeichen</span>
      </wm-form-field>
      <wm-form-field>
        <label>Nachname</label>
        <input formControlName="lastname"/>
        <span *ngIf="hasError(formGroup.controls.lastname, 'required')">Pflichtfeld</span>
        <span *ngIf="hasError(formGroup.controls.lastname, 'minlength')">Min. 2 Zeichen</span>
      </wm-form-field>

      <ng-container formGroupName="passwords">
        <wm-form-field>
          <label>Passwort</label>
          <input formControlName="password" type="password"/>
          <span *ngIf="hasError(formGroup.controls.passwords.controls.password, 'required')">Pflichtfeld</span>
          <span *ngIf="hasError(formGroup.controls.passwords.controls.password, 'minlength')">Min. 8 Zeichen</span>
        </wm-form-field>
        <wm-form-field>
          <label>Passwort bestätigen</label>
          <input formControlName="confirmPassword" type="password"/>
          <span *ngIf="hasError(formGroup.controls.passwords.controls.confirmPassword, 'required')">Pflichtfeld</span>
          <span *ngIf="hasError(formGroup.controls.passwords.controls.confirmPassword, 'minlength')">Min. 8 Zeichen</span>
        </wm-form-field>
      </ng-container>
    </form>
  </ng-container>

  <ng-container wm-actions>
    <div class="login">
      <p>Bereits ein Konto?</p>
      <a href="/login">Anmelden</a>
    </div>

    <wm-button (clickEvent)="submit()">Weiter</wm-button>
  </ng-container>
</wm-user-management-panel>
