<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <wm-user-management-panel heading="Konto erstellen">
    <ng-container wm-content>
      <div class="form">
        <wm-form-field>
          <label>Username</label>
          <input formControlName="username"/>
          @if (hasError(formGroup.get('username'), 'required')) {
            <span>Pflichtfeld</span>
          }
          @if (hasError(formGroup.get('username'), 'minlength')) {
            <span>Min. 5 Zeichen</span>
          }
          @if (hasError(formGroup.get('username'), 'usernameAvailable')) {
            <span>Username wird bereits verwendet</span>
          }
        </wm-form-field>
        <wm-form-field>
          <label>E-Mail</label>
          <input formControlName="email"/>
          @if (hasError(formGroup.get('email'), 'required')) {
            <span>Pflichtfeld</span>
          }
          @if (hasError(formGroup.get('email'), 'email')) {
            <span>Ungültiges Format</span>
          }
          @if (hasError(formGroup.get('email'), 'emailAvailable')) {
            <span>E-Mail wird bereits verwendet</span>
          }
        </wm-form-field>

        <wm-form-field>
          <label>Vorname</label>
          <input formControlName="firstname"/>
          @if (hasError(formGroup.get('firstname'), 'required')) {
            <span>Pflichtfeld</span>
          }
          @if (hasError(formGroup.get('firstname'), 'minlength')) {
            <span>Min. 2 Zeichen</span>
          }
        </wm-form-field>
        <wm-form-field>
          <label>Nachname</label>
          <input formControlName="lastname"/>
          @if (hasError(formGroup.get('lastname'), 'required')) {
            <span>Pflichtfeld</span>
          }
          @if (hasError(formGroup.get('lastname'), 'minlength')) {
            <span>Min. 2 Zeichen</span>
          }
        </wm-form-field>

        <ng-container formGroupName="passwords">
          <wm-form-field>
            <label>Passwort</label>
            <input formControlName="password" type="password"
              [class.ng-invalid]="hasError(formGroup.get('passwords.password')) || hasError(formGroup.get('passwords'), 'passwordMatch')"/>
              @if (hasError(formGroup.get('passwords.password'), 'required')) {
                <span>Pflichtfeld</span>
              }
              @if (hasError(formGroup.get('passwords.password'), 'minlength')) {
                <span>Min. 8 Zeichen</span>
              }
              @if (hasError(formGroup.get('passwords'), 'passwordMatch') && !hasError(formGroup.get('passwords.password'))) {
                <span
                >Passwörter müssen übereinstimmen</span>
              }
            </wm-form-field>
            <wm-form-field>
              <label>Passwort bestätigen</label>
              <input formControlName="confirmPassword" type="password"
                [class.ng-invalid]="hasError(formGroup.get('passwords.confirmPassword')) || hasError(formGroup.get('passwords'), 'passwordMatch')"/>
                @if (hasError(formGroup.get('passwords.confirmPassword'), 'required')) {
                  <span>Pflichtfeld</span>
                }
                @if (hasError(formGroup.get('passwords.confirmPassword'), 'minlength')) {
                  <span>Min. 8 Zeichen</span>
                }
                @if (hasError(formGroup.get('passwords'), 'passwordMatch') && !hasError(formGroup.get('passwords.confirmPassword'))) {
                  <span
                  >Passwörter müssen übereinstimmen</span>
                }
              </wm-form-field>
            </ng-container>
          </div>
        </ng-container>

        <ng-container wm-actions>
          <div class="actions">
            <div class="login">
              <p>Bereits ein Konto?</p>
              <a href="/login">Anmelden</a>
            </div>

            <wm-button (clickEvent)="submit()" submit [disabled]="isLoading()">Weiter</wm-button>
          </div>
        </ng-container>
      </wm-user-management-panel>
    </form>
