.dashboard {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'greeting summary'
    'ranking upcoming-games'
    'stats .';
  gap: var(--beticon-spacer-5);
  padding: var(--beticon-spacer-8);

  h3 {
    font: var(--beticon-font-h3);
    margin-bottom: var(--beticon-spacer-3);
  }

  .greeting {
    grid-area: greeting;
    word-break: break-word;

    h1 {
      text-align: left;
    }
  }

  .summary {
    grid-area: summary;
    display: flex;
    place-self: end;
    gap: var(--beticon-spacer-5);

    .summary-item {
      display: flex;
      align-items: end;
      gap: .25em;

      h2 {
        font: var(--beticon-font-h2);
      }

      i.material-symbols-rounded {
        font-variation-settings: 'FILL' 1;
        font-size: 2.5em;

        &.denied {
          background-image: linear-gradient(to bottom, var(--beticon-color-red-500) 0%, var(--beticon-color-red-600) 90%) !important;
        }

        &.pending {
          background-image: linear-gradient(to bottom, var(--beticon-color-orange-500) 0%, var(--beticon-color-orange-600) 90%) !important;
        }
      }

      span {
        font: var(--beticon-font-regular-text);
        color: var(--beticon-color-neutral-400);
        margin-bottom: .25em;
      }
    }
  }

  .leaderboard-preview {
    grid-area: ranking;

    h3 {
      margin-bottom: var(--beticon-spacer-3);
    }

    .leaderboard {
      display: flex;
      gap: var(--beticon-spacer-1);
      flex-direction: column;

      bet-position {
        max-width: 40em;

        &:first-child, &:last-child {
          &:not(.-current) {
            opacity: .6;
          }
        }
      }
    }
  }

  bet-upcoming-games {
    grid-area: upcoming-games;
  }

  bet-statistics {
    grid-area: stats;
  }
}

@media screen and (max-width: 1200px) {
  .dashboard {
    grid-template-areas:
    'greeting greeting'
    'summary summary'
    'ranking upcoming-games'
    'stats .';

    .summary {
      place-self: start;
      margin-top: calc((var(--beticon-spacer-5) - var(--beticon-spacer-3)) * -1);
    }
  }
}

@media screen and (max-width: 992px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    padding: var(--beticon-spacer-6) var(--beticon-spacer-5);
  }
}

@media screen and (max-width: 576px) {
  .dashboard {
    .greeting h1 {
      font: var(--beticon-font-h2);
    }

    .summary {
      flex-direction: column;
      gap: var(--beticon-spacer-1);
    }
  }
}
