<div class="dashboard">
  <div class="greeting">
    <h1>{{ greeting() }}</h1>
  </div>
  <div class="summary" *ngIf="dashboardData()?.userSummary as summary">
    <div class="summary-item">
      <h2 class="gradient-text">{{ summary.ranking }}.</h2>
      <span>Rang</span>
    </div>
    <div class="summary-item">
      <h2 class="gradient-text">{{ summary.points }}</h2>
      <span>Punkte</span>
    </div>
    <div class="summary-item">
      <h2 class="gradient-text">{{ summary.percentage | number:'1.0-0' }}%</h2>
      <span>Ausgefüllt</span>
    </div>
    <div class="summary-item">
      @switch (summary.isConfirmed) {
        @case (true) {
          <i class="material-symbols-rounded confirmed gradient-text">check_circle</i>
          <span>Bestätigt</span>
        }
        @case (false) {
          <i class="material-symbols-rounded denied gradient-text">do_not_disturb_on</i>
          <span>Abgelehnt</span>
        }
        @case (null) {
          <i class="material-symbols-rounded pending gradient-text">schedule</i>
          <span>Angefragt</span>
        }
      }
    </div>
  </div>
  <div class="leaderboard-preview">
    <h3>Deine Position</h3>
    <div class="leaderboard">
      <wm-position *ngFor="let position of leaderboardPreview()"
                   [ranking]="position"
                   [class.-current]="position.id === user()?.id"
                   [highlight]="position.id === user()?.id"/>
      <ng-container *ngIf="leaderboardPreview().length === 0">
        <p>Du wurdest noch nicht bestätigt.</p>
        <p>Kontaktiere einen Administrator um in das Ranking aufgenommen zu werden.</p>
      </ng-container>
    </div>
  </div>

  <wm-upcoming-games [games]="data.upcomingGames" *ngIf="dashboardData() as data"/>

  <wm-recent-results [games]="data.recentResults" *ngIf="dashboardData() as data"/>

  <wm-statistics [globalStats]="data.globalStats" [personalStats]="data.stats" *ngIf="dashboardData() as data"/>
</div>
